<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= typeof title !== 'undefined' ? title : "Todo list app" %></title>
  <link rel="stylesheet" href="/public/css/bootstrap.min.css">
  <link rel="stylesheet" href="/public/css/toastr.min.css">
  <link rel="stylesheet" href="/public/css/style.css">
  <script src="/public/js/jquery-3.5.0.js"></script>
  <script src="/public/js/toastr.min.js"></script>
</head>
<body>
  <%- body -%>
  <script src="/public/js/bootstrap.min.js"></script>
</body>
</html>